<mat-toolbar color="primary" class="mat-elevation-z4" *ngIf="authService.isAuthenticated() && !commonService.isAdmin()">
    <a routerLink="/home" class="link-logo">
        <mat-icon>fastfood</mat-icon> Demands
    </a>
    <div class="spacer"></div>
    <a mat-button>Orders</a>
    <a mat-button routerLink="/home">Tables</a>
    <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">
        <mat-icon>people</mat-icon>
        {{userAuthenticated.username}}
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item (click)="goManagerArea()" *ngIf="userAuthenticated.type == 1">
          <mat-icon>apps</mat-icon>
          Manager Area
        </a>
        <a mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </a>
    </mat-menu>
</mat-toolbar>