<mat-card *ngIf="!table" class="card-info">
  <mat-card-content class="text-center">
    <h3>
      Table not found!
    </h3>
  </mat-card-content>
</mat-card>

<div *ngIf="table">
  <div class="row">
    <div class="col-2">
      <mat-card [ngClass]="[table.isBusy ? 'bg-accent' : 'bg-primary', 'text-white mr-0']">
        <img mat-card-image src="/assets/img/table-icon-white.png" alt="Table icon" class="pt-15 pl-5 pr-5 mb-0">
        <mat-card-content class="text-center">
          <h2>Table {{table.number}}</h2>
        </mat-card-content>
      </mat-card>
      <mat-slide-toggle (change)="changeBusyStatus(table.id)" color="primary" [checked]="table.isBusy" id="isBusySwitch"
        [disabled]="this.ordersTable.length > 0 && this.table.isBusy">
        Is Busy?
      </mat-slide-toggle>
    </div>
    <div class="col-10">
      <mat-card class="card-dark mb-0">
        <mat-card-content>
          <div class="row">
            <div class="col-6">
              <h1 class="mb-0">
                <mat-icon class="h1-icon-text">reorder</mat-icon>
                Orders
              </h1>
            </div>
            <div class="col-6 text-right">
              <button mat-raised-button color="primary" *ngIf="!isNewOrder && table.isBusy" (click)="isNewOrder = true"
                class="mr-5">
                New Order
              </button>
              <button mat-raised-button color="accent" *ngIf="this.ordersTable.length > 0 && !showPaymentComponent" (click)="pay()">
                Close bill
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <app-order-create *ngIf="isNewOrder && !showPaymentComponent" (cancelOrder)="cancelNewOrder()" (orderFinished)="orderFinished()"></app-order-create>
      <app-payment-component *ngIf="showPaymentComponent" (cancelPayment)="cancelPayment()" [billData]="bill"></app-payment-component>

      <mat-card *ngIf="!isNewOrder && ordersTable.length > 0">
        <mat-card-subtitle>
          <h3>Orders Table</h3>
        </mat-card-subtitle>
        <mat-card-content>
          <ul *ngFor="let item of ordersTable" class="list-no-style">
            <li>
              <button mat-icon-button color="warn" aria-label="Cancel order" title="Cancel order">
                <mat-icon>delete_forever</mat-icon>
              </button>
              <b>Nº {{item.id}}</b> - Total: <b>{{getTotalOrder(item.productsOrder) | currency}}</b> -
              <b>{{getOrderStatus(item.trackersOrder)}}</b>
              <div *ngFor="let itemOrder of item.productsOrder">
                {{itemOrder.amount}} X {{itemOrder.product.name}}
              </div>
              <hr>
              Obs.: {{item.observation != '' ? item.observation : '--' }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>